/* * ========Imports======== */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";

/* *======== Css Variables======== */
:root {
  --crystalBlue: #3abef9;
  --white: #ffffff;
  --dark: #222831;
  --gray: #b5c0d0;
  --brightTeal: #15f5ba;
  --rubyRed: #f32424;
  --azure: #109ce8;
}

/* * Default Classes */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main-container {
  max-width: 920px;
  margin: 0 auto;
}
.svg-sprite {
  display: none;
}

/* * //////// Header Section//////// */
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-right: 2rem;
  width: 5rem;
  height: 5rem;
}

.header-left {
  display: flex;
  align-items: center;
}
.header-left__btn-user,
.header-left__btn-ad {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.header-left__btn-user {
  background: none;
  border: none;
  outline: none;
  font-family: "iranSans-medium", Courier, monospace;
  cursor: pointer;
  color: var(--white);
}
.header-left__btn-ad {
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  background-color: var(--rubyRed);
  border: none;
  outline: none;
  padding: 0.5rem;
  font-family: "iranSans-medium", Courier, monospace;
  border-radius: 0.5rem;
  cursor: pointer;
}

.header-left__btn-user-icon {
  width: 2rem;
  height: 2rem;
  fill: var(--white);
  margin-left: 1rem;
}
.header-left__btn-ad-icon {
  width: 2rem;
  height: 2rem;
  fill: var(--white);
}
.header-left__btn-ad-icon {
  color: var(--white);
  margin-left: 1rem;
}

/* * //////// Main Section//////// */
.main{
  margin-bottom: 4rem;
}
.main-about {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.main-about__righ-title {
  font-size: 2rem;
  font-family: "iranSans-bold", Courier, monospace;
}

.main-about__right-text {
  font-size: 1.2rem;
  font-family: "iranSans-light", Courier, monospace;
  margin-top: 2rem;
  line-height: 1.4rem;
}

.main-about__left-image {
  width: 30rem;
  height: 30rem;
  border-radius: 1rem;
}

.main-about__left {
  margin-right: 1rem;
}

.main-business {
  margin-top: 2rem;
}

.main-business__title {
  text-align: center;
  font-family: "iranSans-bold", Courier, monospace;
  font-size: 2rem;
}

.main-business__boxes {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-business__boxes__right,
.main-business__boxes__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin-right: 1rem; */
}

.main-business__boxes__right-title,
.main-business__boxes__left-title {
  font-family: "iranSans-bold", Courier, monospace;
}

.main-business__boxes__right-icon-svg,
.main-business__boxes__left-icon-svg {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 2rem;
  fill: var(--azure);
}
.main-business__boxes__right-icon,
.main-business__boxes__left-icon {
  display: block;
  margin: 0 auto;
}

.main-business__boxes__right-text,
.main-business__boxes__left-text {
  width: 30rem;
  text-align: center;
  font-family: "iranSans-light", Courier, monospace;
  margin-top: 1rem;
  line-height: 1.4rem;
}

.main-business__btn {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-family: "iranSans-bold", Courier, monospace;
  background-color: var(--azure);
  color: var(--white);
  cursor: pointer;
}

.main-career {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.main-career__title {
  font-size: 2rem;
  font-family: "iranSans-bold", Courier, monospace;
}

.main-career__text {
  margin-top: 1rem;
  width: 50rem;
  text-align: center;
  font-family: "iranSans-light", Courier, monospace;
  line-height: 1.4rem;
}

.main-career__btn {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-family: "iranSans-bold", Courier, monospace;
  background-color: var(--azure);
  color: var(--white);
  cursor: pointer;
}

.main-contact {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-contact__title {
  font-size: 2rem;
  font-family: "iranSans-bold", Courier, monospace;
}

.main-contact__title__text {
  font-family: "iranSans-light", Courier, monospace;
  margin-top: 1rem;
  width: 50rem;
  text-align: center;
  line-height: 1.4rem;
}

.main-contact__btns{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-contact__btns-backup,
.main-contact__btns-fata{
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-family: "iranSans-bold", Courier, monospace;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  color: var(--white);
  background-color: var(--azure);


}
.main-contact__phone,.main-contact__address{
  margin-top: 1rem;
  font-family: "iranSans-medium", Courier, monospace;

}

.main-contact__notic{
  font-family: "iranSans-light", Courier, monospace;
  color: var(--gray);
  margin-top: 1rem;
}

.main-contact__map {
  width: 40rem;
  height: 20rem;
  margin-top: 2rem;
  border-radius: 1rem;
  /* background-color: red; */
}
#map{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.footer__wrapper{
  flex-direction: row;
}
