/* * ========Imports======== */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";

/* *======== Css Variables======== */
:root {
  --crystalBlue: #3abef9;
  --white: #ffffff;
  --dark: #222831;
  --gray: #eeeeee;
  --brightTeal: #15f5ba;
  --rubyRed: #f32424;
  --azure: #109ce8;
}

/* * Default Classes */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}
.svg-sprite {
  display: none;
}

/* * //////// Main Section//////// */

.main__wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.main-right,
.main-left {
  width: 50%;
  height: 100rem;
}

/* ! Main Right Section */

.main-right__breadcrumb-list {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2rem;
  font-family: "iranSans-light", Courier, monospace;
}

.main-right__breadcrumb-link {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: var(--dark);
}

.main-right__breadcrumb-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
  margin-left: 0.5rem;
  fill: var(--azure);
}

.main-right__mainInfo-title {
  font-size: 1.4rem;
  font-family: "iranSans-bold", Courier, monospace;
  text-align: right;
  margin-top: 2rem;
  color: var(--dark);
}

.main-right__mainInfo-text {
  font-family: "iranSans-medium", Courier, monospace;
  display: block;
  text-align: right;
  color: var(--dark);
  margin-top: 1rem;
  direction: rtl;
}

.main-right__mainInfo-callInfo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-top: 1rem;
}
.main-right__mainInfo-callInfo svg {
  width: 2rem;
  height: 2rem;
  fill: var(--azure);
}

.main-right__mainInfo-callInfo__right-btn {
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-family: "iranSans-medium", Courier, monospace;
  background-color: var(--azure);
  color: var(--white);
  cursor: pointer;
}

.main-right__mainInfo-callInfo__left-mark,
.main-right__mainInfo-callInfo__left-share {
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 1rem;
  background: none;
  transition: all 140ms ease-in;
  cursor: pointer;
}
.main-right__mainInfo-callInfo__left-mark:hover,
.main-right__mainInfo-callInfo__left-share:hover {
  background-color: var(--gray);
}

.main-right__statusInfo-list {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.main-right__statusInfo-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 1rem;
  font-family: "iranSans-medium", Courier, monospace;
  border-bottom: 2px solid var(--azure);
  padding-bottom: 1rem;
}
.main-right__statusInfo-item-value {
  direction: rtl;
}

.main-right__statusInfo__description {
  margin-top: 2rem;
}

.main-right__statusInfo__description-title {
  text-align: right;
  font-family: "iranSans-bold", Courier, monospace;
  font-size: 1.2rem;
}

.main-right__statusInfo__description-text {
  text-align: right;
  line-height: 1.2rem;
  font-family: "iranSans-light", Courier, monospace;
  margin-top: 1rem;
  direction: rtl;
}

/* ! Main Left */
.main-left {
  padding-top: 4rem;
  padding-right: 1rem;
}
.main-left__slider {
  height: 20rem;
}

/* ! Image Slider */
.swiper-slide {
  width: 20rem;
  height: 20rem;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 30rem;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ! TextArea */
.main-left__textarea textarea {
  width: 100%;
  height: 10rem;
  margin-top: 18rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-color: var(--azure);
  resize: none;
  text-align: right;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--white);
  font-family: "iranSans-light", Courier, monospace;
}
.main-left__textarea textarea::placeholder {
  font-size: 1.2rem;
  font-family: "iranSans-light", Courier, monospace;
  color: var(--white);
}

.main-left__textarea-text {
  display: block;
  margin-top: 1rem;
  direction: rtl;
  text-align: right;
  font-family: "iranSans-light", Courier, monospace;
  color: var(--dark);
}

.main-left-map {
  width: 100%;
  height: 20rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.main-left__feedback {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 2rem;
}
.main-left__feedback-text {
  font-size: 1.2rem;
  font-family: "iranSans-light", Courier, monospace;
  color: var(--dark);
}

.main-left__feedback-icons {
  display: flex;
  align-items: center;
}
.main-left__feedback-icons svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}
.main-left__feedback-icons-like {
  fill: var(--brightTeal);
}

.main-left__feedback-icons-dislike {
  transform: rotate(180deg);
  fill: var(--rubyRed);
}

