/* * ========Imports======== */
@import "./reset.css";
@import "./fonts.css";

/* *======== Css Variables======== */
:root {
  --crystalBlue: #3abef9;
  --white: #ffffff;
  --dark: #222831;
  --gray: #b5c0d0;
  --brightTeal: #15f5ba;
  --rubyRed: #f32424;
  --azure: #109ce8;
}

/* * Default Classes */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main-container {
  max-width: 920px;
  margin: 0 auto;
}
.svg-sprite {
  display: none;
}

/* * //////// Header Section//////// */
.header {
  background-color: var(--azure);
  box-shadow: var(--dark) 0px 25px 20px -20px;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

/* ! navbar Right */

.navbar__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.navbar__right__logo-image {
  width: 100%;
  height: 100%;
  /* border-radius: 1rem; */
}

.navbar__right__logo {
  display: block;
  width: 5rem;
  height: 5rem;
}

.navbar__right span svg {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.4rem;
  fill: var(--white);
}
.navbar__right span:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navbar__right-citySelect,
.navbar__right__category {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 1rem;
  font-family: "iranSans-bold", Courier, monospace;
  color: var(--white);
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 140ms ease-in;
  cursor: pointer;
}

.navbar__right__search {
  position: relative;
}

.navbar__right__search-input {
  padding: 0.7rem;
  padding-right: 2.2rem;
  text-align: right;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: var(--azure);
  color: var(--white);
  width: 20rem;
  font-family: "iranSans-medium", Courier, monospace;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
.navbar__right__search-input::placeholder {
  font-family: "iranSans-medium", Courier, monospace;
  color: var(--white);
}
.navbar__right__search-icon {
  position: absolute;
  right: 0;
  top: 0.5rem;
  fill: var(--white);
}

/* ! navbar Left */
.navbar__left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.navbar__left a svg {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  fill: var(--white);
}
.navbar__left a:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navbar__left-account,
.navbar__left-chat,
.navbar__left-support,
.navbar__left__submitAd {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: "iranSans-bold", Courier, monospace;
  color: var(--white);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 1.5rem;
  transition: all 140ms ease-in;
}
.navbar__left__submitAd {
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  background-color: var(--rubyRed);
  margin-left: 1rem;
}

.navbar__left__submitAd-icon {
  fill: var(--white);
}

/* * //////// Main Section//////// */
.main {
  display: flex;
  /* align-items: center; */
  flex-direction: row-reverse;
}
/* ! Aside Menu Section */

.aside-menu {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.aside-menu__list svg {
  width: 2rem;
  height: 2rem;
  fill: var(--azure);
}

.aside-menu__title {
  text-align: right;
  margin-right: 2rem;
  margin-top: 1rem;
  font-family: "iranSans-medium", Courier, monospace;
  font-size: 1.2rem;
  color: var(--dark);
}

.aside-menu__list {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--azure);
}

.aside-menu__list-item {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  transition: all 140ms ease-in;
}

.aside-menu__list-item:hover {
  background-color: var(--azure);
  color: var(--white);
}
.aside-menu__list-item:hover .aside-menu__list-link {
  color: var(--white);
}
.aside-menu__list-item:hover .aside-menu__list-icon {
  fill: var(--white);
}

.aside-menu__list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  color: var(--dark);
  font-family: "iranSans-medium", Courier, monospace;
}

.aside-menu__list-icon {
  margin-left: 1rem;
  color: var(--dark);
}

/* ! Accordion Price */
.aside-menu__price-btn {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 1rem;
  text-align: right;
  padding-right: 2rem;
  font-family: "iranSans-medium", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  transition: all 140ms ease-in;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-right: 2.5rem;
}

.aside-menu__price-btn:hover {
  background-color: var(--azure);
  color: var(--white);
}
.aside-menu__price-btn .aside-menu__price-btn-icon {
  fill: var(--white);
}
.aside-menu__price-btn-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.aside-menu__price-selects {
  display: flex;
  flex-direction: column;
}

.aside-menu__price-selects-min,
.aside-menu__price-selects-max {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-color: var(--azure);
  text-align: center;
  font-family: "iranSans-medium", Courier, monospace;
  margin-top: 1rem;
}

.rotate {
  transform: rotate(180deg);
}

/* ! ChangeAble And PhotoStatus Input */
.aside-menu__changeAble,
.aside-menu__photoStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-right: 1rem;
  font-family: "iranSans-medium", Courier, monospace;
}

/* ! sideMenu links */
.aside-menu__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "iranSans-medium", Courier, monospace;
  margin-top: 2rem;
}

.aside-menu__link {
  transition: all 140ms ease-in;
}
.aside-menu__link:hover {
  color: var(--gray);
}

/* ! sideMenu Socials */

.aside-menu__socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.aside-menu__socials-instagram-icon {
  fill: var(--rubyRed);
}
.aside-menu__socials-telegram-icon {
  fill: var(--azure);
}
.aside-menu__socials-linkedin-icon {
  fill: var(--crystalBlue);
}
.aside-menu__socials svg {
  width: 2rem;
  height: 2rem;
}

/*! Aside Menu Credentials  */

.aside-menu__credentials {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.aside-menu__credentials img {
  width: 8rem;
  height: 8rem;
}

/* * //////// Main ADs Section//////// */

.main-ads {
  width: 70%;
  /* background-color: red; */
  margin-right: 2rem;
}

.main-ads__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.main-ads__item {
  display: flex;
  justify-content: space-between;
  width: 19rem;
  height: 10rem;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: var(--dark) 0px 0px 0px 1px inset, var(--dark) 0px 0px 0px 1px;
}

.main-ads__item__left-image {
  width: 10rem;
  height: 10rem;
  display: block;
  margin: 0 auto;
}
.main-ads__item__right {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-ads__item__right-infos {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: "iranSans-medium", Courier, monospace;
}
.main-ads__item__right-infos span {
  margin-top: 1rem;
}

.main-ads__item__right-title {
  font-family: "iranSans-bold", Courier, monospace;
}
