/* * ========Imports======== */
@import './reset.css';

/* *======== Css Variables======== */
:root{
    --crystalBlue:#3ABEF9;
    --white:#ffff;
    --dark:#222831;
    --gray:#EEEEEE;
    --brightTeal:#15F5BA;
    --rubyRed:#F32424;
}


/* * Default Classes */
.container{
    max-width: 1400px;
    margin: 0 auto;
    background-color: red;
}

