/* * ========Imports======== */
@import "./reset.css";
@import "./fonts.css";

/* *======== Css Variables======== */
:root {
  --crystalBlue: #3abef9;
  --white: #ffffff;
  --dark: #222831;
  --gray: #eeeeee;
  --brightTeal: #15f5ba;
  --rubyRed: #f32424;
  --azure: #109ce8;
}

/* * Default Classes */
.container {
  max-width: 1400px;
  margin: 0 auto;
  /* background-color: red; */
  /* height: 100%; */
}

.main-container {
  max-width: 920px;
  margin: 0 auto;
  /* background-color: red; */
}
.svg-sprite {
  display: none;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* * //////// Header Section//////// */
.header-logo-image {
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
}

.navbar {
  width: 50rem;
  margin: 0 auto;
  margin-top: 2rem;
  /* border-bottom: 2px solid var(--dark); */
  padding-bottom: 1rem;
  border-bottom: 10px solid;
  border-image-source: url("../icons/waveBorder.svg");
  border-image-slice: 30;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar__list__item {
  transition: all 120ms ease-in;
  padding-top: 1rem;
}
.navbar__list__item:hover {
  font-weight: 800;
}
.navbar__list__item:hover .navbar__list__item-link-svg {
  transform: translateY(-0.5rem);
}

.navbar__list__item-link {
  font-size: 1.2rem;
  font-family: "iranSans-regular", Courier, monospace;
  color: var(--dark);
  display: flex;
  align-items: center;
}

.navbar__list__item-link-svg {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.5rem;
  transition: all 140ms ease-in;
  fill: var(--dark);
}

/* * //////// Main Section//////// */

.main {
  margin-top: 1rem;
}

.main-title {
  text-align: center;
  font-family: "iranSans-bold", Courier, monospace;
  font-size: 1.7rem;
  color: var(--dark);
}

.main-text {
  text-align: center;
  font-family: "iranSans-regular", Courier, monospace;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  width: 50rem;
  line-height: 1.4rem;
  color: var(--dark);
}

.main-inputBox {
  position: relative;
}
.main-input {
  padding: 1rem;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  width: 40rem;
  padding-right: 4rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-family: "iranSans-regular", Courier, monospace;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
}
.main-input::placeholder {
  font-size: 1.2rem;
  font-family: "iranSans-regular", Courier, monospace;
}

.main-input-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 10rem;
  fill: var(--dark);
}

.main-cities__title {
  display: flex;
  align-items: center;
  font-family: "iranSans-bold", Courier, monospace;
  font-size: 1.4rem;
  margin-top: 2rem;
}
.main-cities__title-icon {
  width: 2rem;
  height: 2rem;
  fill: var(--dark);
}

.main-cities__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1.4rem;
}
.main-cities__list-item {
  flex-basis: 20%;
  margin: 0.5rem;
  text-align: center;
  transition: all 140ms ease-in;
}
.main-cities__list-item:hover {
  transform: scale(1.2);
  font-weight: 600;
}

.main-cities__list-item-link {
  font-size: 1.1rem;
  color: var(--dark);
  font-family: "iranSans-regular", Courier, monospace;
}

/* * //////// Footer Section//////// */
.footer {
  margin-top: 8rem;
}
.footer-top {
  display: flex;
  justify-content: space-around;
  border-top: 10px solid;
  border-image-source: url("../icons/waveBorder.svg");
  border-image-slice: 30;
  padding-top: 1rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 30rem;
  border-top: 10px solid;
  border-image-source: url("../icons/waveBorder.svg");
  border-image-slice: 30;
  padding-top: 2rem;
}
.footer-bottom a svg {
  width: 2rem;
  height: 2rem;
  transition: all 140ms ease-in;
}
.footer-bottom a svg:hover {
  transform: scale(1.2);
}

.footer-bottom-telegram-svg {
  fill: var(--azure);
}

.footer-bottom-linkedin-svg {
  fill: var(--crystalBlue);
}

.footer-bottom-x-svg {
  fill: var(--dark);
}

.footer-bottom-instagram-svg {
  fill: var(--rubyRed);
}
