/*! ==============================Responsive MediaQueries ================================ */

/* *  ------------------------1400px------------------------ */
@media screen and (max-width: 1400px) {
}

/* *  ------------------------1280px------------------------ */
@media screen and (max-width: 1280px) {
}

/* *  ------------------------1255px------------------------ */
@media screen and (max-width: 1255px) {
}

/* *  ------------------------1230px------------------------ */

@media screen and (max-width: 1230px) {
}

/* *  ------------------------1200px------------------------ */
@media screen and (max-width: 1200px) {
}

/* *  ------------------------1140px------------------------ */
@media screen and (max-width: 1140px) {
}

/* *  ------------------------980px------------------------ */
@media screen and (max-width: 980px) {
  /* ! index Main Section */
  .main-cities__title {
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .main-cities__title-icon {
    margin-top: 1rem;
  }
  .main-inputBox {
    width: 80%;
  }
  .main-inputBox-btn {
    flex-direction: column;
  }
}

/* *  ------------------------945px------------------------ */
@media screen and (max-width: 945px) {
}

/* *  ------------------------940px------------------------ */
@media screen and (max-width: 940px) {
}

/* *  ------------------------910px------------------------ */
@media screen and (max-width: 910px) {
}

/* *  ------------------------900px------------------------ */
@media screen and (max-width: 900px) {
}

/* *  ------------------------880px------------------------ */
@media screen and (max-width: 880px) {
}

/* *  ------------------------840px------------------------ */
@media screen and (max-width: 840px) {
  /* ! index Main Section */
  .navbar__list {
    flex-wrap: wrap;
  }
  .main-text {
    width: 40rem;
  }
  .main-input-icon {
    left: 5rem;
  }
  .main-inputBox-btn {
    width: 30%;
  }
  .main-inputBox {
    width: 70%;
  }
}

/* *  ------------------------805px------------------------ */
@media screen and (max-width: 805px) {
}

/* *  ------------------------740px------------------------ */
@media screen and (max-width: 740px) {
}
/* *  ------------------------700px------------------------ */
@media screen and (max-width: 700px) {
  /* ! index Main Section */
  .main-input-icon {
    left: 8rem;
  }
  .main-input {
    width: 30rem;
  }
  .main-text {
    width: 25rem;
  }
  .main-inputBox-btn {
    width: 40%;
  }
}

/* *  ------------------------688px------------------------ */
@media screen and (max-width: 680px) {
}

/* *  ------------------------660px------------------------ */
@media screen and (max-width: 660px) {
}

/* *  ------------------------635px------------------------ */
@media screen and (max-width: 635px) {
}

/* *  ------------------------620px------------------------ */
@media screen and (max-width: 620px) {
}

/* *  ------------------------610px------------------------ */
@media screen and (max-width: 610px) {
  /* ! index Main Section */
  .navbar__list__item {
    margin: 1rem;
  }
  .main-inputBox-btn {
    width: 50%;
    font-size: 1rem;
  }
  .main-input-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .main-input {
    width: 70%;
  }
}

/* *  ------------------------572px------------------------ */
@media screen and (max-width: 572px) {
}

/* *  ------------------------560px------------------------ */
@media screen and (max-width: 560px) {
}

/* *  ------------------------540px------------------------ */
@media screen and (max-width: 540px) {
  /* ! index Main Section */
  .footer-top {
    flex-direction: column;
  }
  .footer-top img {
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .footer-bottom {
    flex-direction: column;
    width: 100%;
  }
  .footer-bottom a {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .footer-bottom a svg {
    width: 4rem;
    height: 4rem;
  }
}

/* *  ------------------------530px------------------------ */
@media screen and (max-width: 530px) {
}

/* *  ------------------------520px------------------------ */
@media screen and (max-width: 520px) {
}

/* *  ------------------------500px------------------------ */
@media screen and (max-width: 500px) {
}

/* *  ------------------------450px------------------------ */
@media screen and (max-width: 450px) {
}

/* *  ------------------------435px------------------------ */
@media screen and (max-width: 435px) {
  /* ! index Main Section */
  .main-text {
    width: 18rem;
  }
  .main-title {
    font-size: 1.2rem;
  }
}

/* *  ------------------------414px------------------------ */
@media screen and (max-width: 414px) {
}

/* *  ------------------------400px------------------------ */
@media screen and (max-width: 400px) {
}

/* *  ------------------------380px------------------------ */
@media screen and (max-width: 380px) {
}

/* *  ------------------------365px------------------------ */
@media screen and (max-width: 365px) {
}
/* *  ------------------------357px------------------------ */
@media screen and (max-width: 357px) {
}

/* *  ------------------------336px------------------------ */
@media screen and (max-width: 336px) {
}

/* *  ------------------------305px------------------------ */
@media screen and (max-width: 305px) {
}

/* *  ------------------------294px------------------------ */
@media screen and (max-width: 294px) {
}

/* *  ------------------------240px------------------------ */
@media screen and (max-width: 240px) {
}
